@import url(http://fonts.googleapis.com/css?family=Squada+One);
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
    background:green;
	/*background-image:url('../imgs/bunny.png');
	background-repeat:repeat;
	-webkit-animation: slide 100s linear infinite;*/
	background-image:url('../imgs/stripe.png');
	background-repeat:repeat;

}
@-webkit-keyframes slide {
    from{
        background-position:left;
    }
    to{
        background-position:right;
    }
}
h1{
	font-family: 'Squada One', cursive;
	text-align: center;
	color: white;

	font-size: 50px;
	text-shadow: -1px -2px rgba(0, 0, 0, 5);
	
	padding: 10px;
}

div#stats {

	background-color:green;
	border:6px solid white;
	border-radius: 5px;
	color: white;
	font-family: Ubuntu, Candara, sans-serif;
        margin-left: 10px;
        padding-left: 10px;
	
	width: 220px;
	height: 440px;

}

canvas {
	display: inline block;
}

span#bordered {

	background-color: green;
	border:6px solid white;
	border-radius: 5px;

}
#canvainer {    
    height:auto;
    width:auto;
    background:#eee;
    color:#404040;
    position:absolute;
    top:50%;
    left:50%;
    
    overflow:auto;
 
    border:6px solid white;
    border-radius:  5px;
}

#minimap {
    float: left;
}
